body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #222222;
}

.body-regular {
  font-size: 1.6rem;
  line-height: 1.2;
}

.label-bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.8rem;
}